body {
      background-color: white;
   
}

      .card {
            width: 300px;
            background-color: rgb(30, 85, 122);
            color: white;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 50px;
            margin: 50px;
            transition: 0.3s;
            box-shadow: 0 4px 8px 0 rgba(231, 159, 159, 0.2);
            margin-right: 10px;
            margin-bottom: 200px;
            margin-top: 10px;
            margin-left: 800px;
            position: absolute;

        
     }

     .card1 {
            width: 300px;
            background-color: rgb(30, 85, 122);
            color: white;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 50px;
            margin: 50px;
            transition: 0.3s;
            box-shadow: 0 4px 8px 0 rgba(231, 159, 159, 0.2);
            margin-top: 10px;
  
     }

     .card2 {
            width: 300px;
            background-color: rgb(30, 85, 122);
            color: white;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 50px;
            margin: 50px;
            transition: 0.3s;
            box-shadow: 0 4px 8px 0 rgba(231, 159, 159, 0.2);
            margin-right: 10px;
            margin-bottom: 30px;
            position: absolute;
     }
           
          .title {
            color: grey;
            font-size: 18px;
            text-align: center;
          }

          .detail {
            text-align: center;
          }
   
        
          

    
     
